@tailwind base;
@tailwind components;
@tailwind utilities;
@import './home.css';

/* COLOR */
:root {
  --color-background-main: #ffffff;
  --color-background-sub: #ffffff;
  --color-main: #ade594;
  --color-main-hover: #7bc35b;
  --color-sub-main: #f3d1ff;
  --color-default-text: #000000;
  --color-main-logo: #0e4437;
  --color-sub-logo: #8da69d;
  --color-text-button: #fff5d2;
  --color-card-bg: #ffffff;
  --color-card-border: #000000;
  --color-card-text: #000000;
  --color-gray: #eef2f1;
  --color-disabled: #939393;
}

/* FONT SIZE */
:root {
  --size-font-card-title: 24px;
  --size-font-default: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-main: #373737;
    --color-background-sub: #000000;
    --color-main: #7bc35b;
    --color-main-hover: #37910f;
    --color-sub-main: #f3d1ff;
    --color-default-text: #fff5d2;
    --color-main-logo: #fff5d2;
    --color-sub-logo: #8da69d;
    --color-text-button: #fff5d2;
    --color-card-bg: #fff5d2;
    --color-card-border: #000000;
    --color-card-text: #000000;
    --color-gray: #939393;
    --color-disabled: #939393;
  }
}

body {
  color: var(--color-default-text);
  background: var(--color-background-main);
  width: 100dvw;
  height: 100dvh;
  font-size: var(--size-font-default);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .full {
    @apply flex h-full w-full flex-col justify-center align-middle;
  }
  .center-alignment {
    @apply flex w-full justify-center align-middle;
  }

  .button {
    @apply h-10 w-28 cursor-pointer rounded-lg text-color-text-button;
  }
  .card {
    @apply center-alignment m-2 w-1/2 flex-col gap-9 rounded-lg border-2 border-color-card-border bg-color-card-bg p-5 py-14 text-color-card-text;
  }
  .card-primary {
    @apply bg-color-primary;
  }
  .input {
    @apply mb-6 w-full border-b border-black bg-transparent focus:bg-transparent;
  }
  .primary {
    @apply bg-color-primary;
  }
  .primary-hover {
    @apply bg-color-primary-m;
  }
  .primary-disabled {
    @apply cursor-not-allowed border-color-disabled bg-color-disabled;
  }
  .outlined {
    @apply border-2 border-color-card-text bg-transparent text-color-card-text;
  }
  .outlined-disabled {
    @apply cursor-not-allowed border-color-disabled;
  }
  .outlined-hover {
    @apply border-color-primary-m bg-color-primary-m;
  }
}
