@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../_styles/home.css';
@import '../_styles/nav.css';
@import '../_styles/transition.css';

/* COLOR */
:root {
  --color-background-main: #ffffff;
  --color-background-sub: #ffffff;
  --color-main: #ade594;
  --color-main-hover: #7bc35b;
  --color-sub-main: #f3d1ff;
  --color-default-text: #000000;
  --color-main-logo: #0e4437;
  --color-sub-logo: #8da69d;
  --color-text-button: #000000;
  --color-card-bg: #ffffff;
  --color-card-border: #ffffff;
  --color-card-text: #000000;
  --color-gray: #939393;
  --color-disabled: #939393;
}

/* FONT SIZE */
:root {
  --size-font-card-title: 24px;
  --size-font-default: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-main: #373737;
    --color-background-sub: #000000;
    --color-main: #7bc35b;
    --color-main-hover: #37910f;
    --color-sub-main: #f3d1ff;
    --color-default-text: #fff5d2;
    --color-main-logo: #fff5d2;
    --color-sub-logo: #8da69d;
    --color-text-button: #fff5d2;
    --color-card-bg: #fff5d2;
    --color-card-border: #fff5d2;
    --color-card-text: #fff5d2;
    --color-gray: #939393;
    --color-disabled: #939393;
    --size-font-card-title: 20px;
  }
}

body {
  color: var(--color-default-text);
  background: var(--color-background-main);
  width: screen;
  height: 100dvh;
  font-size: var(--size-font-default);
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* FONT SIZE */

/* TABLET */
@media (min-width: 768px) {
  :root {
    --size-font-card-title: 1.125rem; /* 태블릿 텍스트 크기 */
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  :root {
    --size-font-card-title: 1.25rem; /* 데스크톱 텍스트 크기 */
  }
}

/* INPUT PLACEHOLDER */
input::placeholder {
  font-size: var(--size-font-default);
  color: var(--color-card-text);
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0.2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  opacity: 0.2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer base {
  * {
    @apply box-border;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .full {
    width: screen;
    @apply flex min-h-full flex-col items-center justify-center;
  }
  .center-alignment {
    @apply flex items-center justify-center;
  }

  .center-vertical {
    @apply flex h-full items-center justify-center;
  }

  .button {
    @apply cursor-pointer items-center justify-center px-[15px] py-[7px] text-color-text-button;
  }
  .btn-defaultsize {
    @apply h-[40px] w-[110px] rounded-[7px];
  }
  .card {
    @apply m-2 w-1/2 flex-col gap-9 rounded-lg border border-color-card-border p-5 py-14 text-color-card-text shadow-2xl dark:shadow-custom;
  }
  .card-primary {
    @apply bg-color-primary;
  }
  .input {
    @apply h-[40px] w-full border-b border-color-card-text bg-transparent pb-1 text-color-card-text focus:outline-none;
  }
  .primary {
    @apply bg-color-primary;
  }
  .primary-hover {
    @apply bg-color-primary-m;
  }
  .primary-disabled {
    @apply cursor-not-allowed border-color-disabled bg-color-disabled;
  }
  .outlined {
    @apply border border-color-card-text bg-transparent text-color-card-text;
  }
  .outlined-disabled {
    @apply cursor-not-allowed border-color-disabled;
  }
  .outlined-hover {
    @apply border-color-primary-m bg-color-primary-m;
  }
}
